<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Respuesta Legal</h4>
        <div class="card-body">
              
                <div class="form-row">
                    <div class="col-md-8 col-sm-12">
                        <label >Solicitudes</label>
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">

                            <table class="table table-bordered table-striped mb-0">
                              <thead>
                                <tr>
                                  <th scope="col">ID</th>
                                  <th scope="col">Mobre de la solicitud</th>
                                  <th scope="col">Remitente</th>
                                  <th scope="col">Tipo de la solicitud</th>
                                  <th scope="col">Detalle de la solicitud</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>salario</td>
                                  <td>Arturo</td>
                                  <td>Urgente</td>
                                  <td><a class="btn btn-primary" href="http://localhost:4200/home/responder-solicitud" role="button">Detalles </a></td>
                                </tr>
                              </tbody>
                            </table>
                          
                          </div>

                    </div>
                    
                </div>
                
        </div>
    </div>
</div>

