<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Respuesta Legal</h4>
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-6 col-sm-12">
                    <label for="name" for="second_Surname">Nombre del remitente </label>
                    <input type="text"  class="form-control" readonly="readonly" />

                </div>
            </div>
            <div class="form-row">
                <div class="col-md-8 col-sm-12">
                    <label >Respuesta</label>
                    <textarea type="text" class="form-control" readonly="readonly" rows="8" cols="10" ></textarea>
            
                </div>
            </div>
            
        </div>
    </div>
</div>
